<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head') %>
	<body>
		<%- include('./partials/nav') %>
		<h1>EJS test</h1>
		<p><%= data[0].country %></p>
		<p><%= data[0].exchange %></p>
		<p><%= data[0].name %></p>
		<p><%= data[1].metric.assetTurnoverTTM %></p>
	</body>
</html>
