<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head') %>
	<body>
		<%- include('./partials/nav') %>
		<h1>News</h1>
		<% data.forEach(d => { %>
			<h3><%= d.headline %></h3>
			<p>
				<a href="<%= d.url %>" target="_blank">
					<%= d.summary %></a>
			</p>
		<% }) %>
	</body>
</html></body></html></p></body></html>
