<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head') %>
	<body class="barebones">
		<%- include('./partials/nav') %>
		<div class="stock-container"></div>
		<h1><%= company.name %></h1>
		<p>Country:
			<%= company.country %></p>
		<p>Price:
			<%= price.c %></p>
		<div id="chart">
			<h3>Chart</h3>
			<script>
				zingchart.render({id: 'chart', data: <%- chartConfig %>});
			</script>
		</div>
	</body>
</html>
