<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/nav') %>
    <h1><%= company.name %></h1>
    <p>Country: <%= company.country %></p>
    <p>Price: <%= price.c %></p>
    <img src="charts/google-chart.png" alt="" />
  </body>
</html>
